<form class="navbar-form" role="search" ng-submit="submit()" ng-controller="SearchCtrl">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="" name="srch-term" id="srch-term"
               ng-model="keyword">
        <div class="input-group-btn">
            <button class="btn btn-default" type="submit" ng-click="submit()">
            <i class="glyphicon glyphicon-search"></i></button>
        </div>
    </div>
</form>

<div ng-controller="MainCtrl" id="film-table">

<!-- Example row of columns -->
      <div class="row row-xs-height" ng-repeat="row in filmChunks">
        <!--<div class="col-sm-6 col-md-4" ng-repeat="film in row">-->
        <div class="col-xs-6 col-sm-4 col-md-2" ng-repeat="film in row">
            <div class="thumbnail" id="film-{{film.id}}" style="display:block; height:300px">
                <img ng-src="{{baseUrl}}/films/{{film.id}}/cover?y=215&x=140&cb={{imgTimestamp}}" alt="film cover image" class="img-rounded" style="width:140px;height:215px;">
                <div class="caption">
                    <a href='/#!/film/{{film.id}}'>
                        <h4>{{film.title | limitTo:20}}</h4>
                    </a>
                    <!--<p>{{film.description | limitTo:60}} ...</p>-->
                </div>
            </div>
        </div>
    </div>
<!--pagination -->
<center><ul id="pagination-demo" class="pagination-sm"></ul></center>

<!-- add the following "clearfix" to prevent to break the footer, see http://stackoverflow.com/questions/23872755/bootstrap-pull-left-and-right-in-panel-footer-breaks-footer -->
<div class="clearfix"></div>
</div>
