
<form class="navbar-form" role="search" ng-submit="submit()" ng-controller="SearchCtrl">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="" name="srch-term" id="srch-term"
               ng-model="keyword">
        <div class="input-group-btn">
            <button class="btn btn-default" type="submit" ng-click="submit()">
            <i class="glyphicon glyphicon-search"></i></button>
        </div>
    </div>
</form>

<div class="col-xs-6 col-sm-4 col-md-2" ng-repeat="film in films">
    <div class="thumbnail" id="film-{{film.filmId}}" style="display:block; height:350px">
        <a href='#/film/{{film.filmId}}'>
            <img ng-src="{{baseUrl}}/films/{{film.filmId}}/cover?y=215&x=140" alt="film cover image" class="img-rounded" style="width:140px;height:215px;">
        </a>
        <div>
            <a href='#/film/{{film.filmId}}'>
                <h4>{{film.title | limitTo:20}}</h4>
            </a>
            <span ng-bind-html="film.highlightedText | limitTo:60"></span>
        </div>
    </div>
</div>


<!-- add the following "clearfix" to prevent to break the footer, see http://stackoverflow.com/questions/23872755/bootstrap-pull-left-and-right-in-panel-footer-breaks-footer -->
<div class="clearfix"></div>
</div>