<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<form class="navbar-form" role="search" ng-submit="submit()" ng-controller="SearchCtrl">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="" name="srch-term" id="srch-term"
               ng-model="keyword">
        <div class="input-group-btn">
            <button class="btn btn-default" type="submit" ng-click="submit()">
            <i class="glyphicon glyphicon-search"></i></button>
        </div>
    </div>
</form>
    
<table class="table table-striped table-responsive">
<thead>
<tr>
<th>Cover</th>
<th>Title</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr ng-repeat="film in films">
    <td><img ng-src="{{baseUrl}}/films/{{film.filmId}}/cover?x=215&y=140" class="img-responsive img-rounded" style="width:215px;height:140px;"/></td>
    <td><a href='#/film/{{film.filmId}}'>{{film.title}}</a></td>
    <td><span ng-bind-html="film.highlightedText"></span></td>
</tr>
</tbody>
</table>
</body>
</html>